.notepad {
  display: grid;
  grid-template-columns: 1fr 300px;
  justify-content: space-between;
  gap: 96px;
  padding: 24px;
}

.notepad-active_note {
  display: grid;
  grid-template-rows: 40px 200px;
  gap: 16px;
}

.notepad-aside-list {
  display: grid;
  gap: 8px;
}